* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(229, 6%, 66%); /*Grayish Blue*/
  font-family: "Poppins";
  color: hsl(234, 12%, 34%); /*Very Dark Blue*/
  font-size: 15px;
  
}

img {
  text-align: right;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items:center;
  flex-flow: column nowrap;


}

.top {
  text-align: center;
  margin: auto;
  
}



.cards {
  background-color: hsl(0, 0%, 98%); /*Very Light Gray*/
  width: 400px;
  height: 300px;
  text-align: left;
  border-radius: 5px;
}

.supervisor {
  
  border-top: 5px solid hsl(180, 62%, 55%);

  
  order: 1;
}

.teambuilder {
  
  border-top: 5px solid hsl(0, 78%, 62%);
  
  order: 2;
}

.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
  order: 3;
}

.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
  order: 4;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
