* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(0, 0, 98); /*Alabaster*/
  font-family: "Poppins";
  color: hsl(234, 12%, 34%); /*Very Dark Blue*/
}

p {
  font-weight: 200;
}

h2 {
  font-weight: 600;
}

.top {
  text-align: center;
  margin: 4rem 30rem 3rem 30rem;
}

.top::first-line {
  font-weight: 200;
}

.top h1:nth-child(2) {
  font-weight: 600;
}

.text {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
}

.pic {
  display: flex;
  align-items: flex-end;
  margin-top: 70px;
  justify-content: flex-end;
}

  .supervisor,
  .teambuilder,
  .karma,
  .calculator {
    background-color: hsl(0, 0%, 98%); /*Very Light Gray*/
    margin: 1.5rem;
    border-radius: 5px;
    padding: 40px;
    box-shadow: 0px 10px 20px hsl(229, 6%, 66%); /*Grayish Blue*/
  }

  .supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-column: 1/1;
    grid-row: 2/4;
  }

  .teambuilder {
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-column: 2/2;
    grid-row: 2/3;
  }

  .karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    grid-column: 2/2;
    grid-row: 3/4;
  }

  .calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-column: 3/3;
    grid-row: 2/4;
  }

@media only screen and (min-width: 960px) {  
  .cards {
    margin: 5fr 5fr auto 5fr;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 768px) {
  .top {
    margin: 0rem 1rem 0rem 1rem;
  }

  .cards {
    margin: auto auto auto auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
  }

  .supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    grid-column: 1/1;
    grid-row: 1/1;
  }

  .teambuilder {
    border-top: 5px solid hsl(0, 78%, 62%);
    grid-column: 1/1;
    grid-row: 2/2;
  }

  .karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    grid-column: 1/1;
    grid-row: 3/3;
  }

  .calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    grid-column: 1/1;
    grid-row: 4/4;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
